.virtual_support_navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Mobile */
@media (min-width:0px) and (max-width: 450px) {
    .mynewplan-orderhistory-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width:451px) and (max-width: 575px) {
    .mynewplan-orderhistory-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}