.vadate_dialog-background_profile{
    background-color: rgb(0, 0, 0, 0.8)!important;
}
.va_data_main_profile_main_profile{
    height: 80vh!important;
}

.va_data_main_profile_main_profile p{
   font-weight: 400!important;
}