.chatIcons img{
    height: 30px;
    width: 30px;
}

.chatInfo{
    height: 50px;
    background-color: #5d5d8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}