.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.send{
    display: flex;
    text-align: center;
    gap: 10px;
}
.input input{
    /* width: 130%; */
    /* border: none; */
    width: 100%;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
}
.input input::placeholder{
    color: lightgray;
}

.send button{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #2f2d52;
    cursor: pointer;
}