.privacy_policy_paragraphs p{
    text-align: justify;
    font-size: 14px;
    font-style: italic;
}
.privacy_policy_h4 {
    text-align: start;
}
.privacy_policy_h5{
    text-align: start;
}

/* Mobile */
@media (min-width: 30px) and (max-width: 480px) and (orientation: portrait) {}

/* Small devices (portrait) */
@media (min-width: 481px) and (max-width: 600px) and (orientation: portrait) {}