.adminregister_card {
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboardnav{
    position: sticky;
    top: 0;
    width: 100%;
}

.admindashboard{
    background: #F5F5F5;
}

.adminregister_card_title p{
    padding-left: 75px;
}