.client_dashboards_main{
   background: #f5f5f5;
}

.client_dashboards_navbar{
  position: sticky;
  top: 0;
  width: 100%;
}


.client_dashboards_cards{
  display: flex;
  justify-content: space-between!important;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* .dashhead{
  background: #F5F5F5;
}



.admin_client_navbar{
  position: sticky;
  top: 0;
  width: 100%;
}


.dashhead h1{
  font-family: Nunito;
  font-size: 30px;
  font-weight: 800;
  padding-left: 66px!important; 
  margin-bottom: 2%;
  margin-top: 3%;
} */

/* .dashposh{
  font-family: Nunito;
  font-size: 20px;
  font-weight: 800; */
  /* display: inline-block; */
  /* margin-left: 52px;
  margin-right: 52px; */
  /* padding-left: 85px;
  padding-right: 60px; */
  /* text-align: center; */
  /* display: block;
} */

/* .dashposh img{
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.dashcard{
  text-align: center;
  width: 270px;
  height: 180px;
  padding: 3px 3px 3px 3px;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.08);
} */

/* .dashcard0{ */
  /* display: flex; */
  /* width: 1051px;
  height: 300px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08); */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-bottom: 5%;
  margin-top: 2%;
  margin-left: 22%;
} */

/* .dashcard0 h3{
  font-family: Nunito;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  padding: 50px;
}

.mlandservone{
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around !important;
}

.admin_dashboar_h1_paragraph{
  margin-left: 24px;
} */