.adminnavbar{

}
.adminnavbartop{
    width: 1292px;
    height: 84px;
    flex-shrink: 0;
    background: #001C30;
}

.adminnavbarbottom{
    display: flex;
    width: 1292px;
    height: 64px;
    padding: 13px 10px;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}