.dashboardnav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4!important;
}

.admin_inqueries{
    margin-left: 12.8%!important;
}

/* Mobile */
@media (min-width: 30px) and (max-width: 480px) and (orientation: portrait) {}

/* Small devices (portrait) */
@media (min-width: 481px) and (max-width: 600px) and (orientation: portrait) {}