.register_admindashboard{
    background: #F5F5F5;
}
.register_Adminregister_card{
  margin-left: 24%; 
  padding-top: 40px!important; 
}
.register_dashboardnav{
    position: sticky;
    top: 0;
    width: 100%;
}

/* Mobile */
@media (min-width: 30px) and (max-width: 480px) and (orientation: portrait) {}

/* Small devices (portrait) */
@media (min-width: 481px) and (max-width: 600px) and (orientation: portrait) {}