.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper{
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:   center;
}

.formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formWrapper input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #a7bcff;
}

.formWrapper input::placeholder{
    color: rgb(175, 175, 175);
}

.formWrapper button{
    background-color: #a7bcff;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.formWrapper button::selection{
    border: 0.4px solid #a7bcff;
}

.formWrapper a{
    color: #a7bcff;
    font-size: 12px;
    margin-top: 10px;
}

.formWrapper img{
    height: 30px;
    width: 30px;
    padding-right: 13px;
}

.formWrapper label{
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

.fileone{
    display: none;
}