.chats {
  display: flex;
  min-height: 100vh;
  padding: 0px 25px;
  overflow: hidden;
}
.chats .chats_sidebar {
  flex: 1;
  background-color: #4A7FBD;
}
.chats .chats_sidebar .chats_navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4A7FBD;
  padding: 9px 19px;
  color: white;
}
.chats .chats_sidebar .chats_navbar .nav_logo {
  font-weight: 700;
  font-size: 19px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.chats .chats_sidebar .chats_navbar .user_wrapper .user {
  display: flex;
  gap: 3px;
  justify-content: center;
}
.chats .chats_sidebar .chats_navbar .user_wrapper .user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.chats .chats_sidebar .chat_search .search_form {
  padding: 3px 5px;
}
.chats .chats_sidebar .chat_search .search_form input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: rgba(161, 158, 158, 0.671);
  outline: none;
  font-size: 18px;
}
.chats .chats_sidebar .chat_search .search_form input::placeholder {
  color: rgb(109, 104, 104);
}
.chats .chats_sidebar .chat_search .user_chat {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 9px;
  align-items: center;
  margin-top: 12px;
}
.chats .chats_sidebar .chat_search .user_chat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chats .chats_sidebar .chat_search .user_chat span {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.chats .chats_sidebar .chat_search .user_chat:hover {
  background-color: #4A7FBD;
}
.chats .chats_sidebar .user_chats .user_chat {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 9px;
  align-items: center;
  margin-top: 12px;
}
.chats .chats_sidebar .user_chats .user_chat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chats .chats_sidebar .user_chats .user_chat .user_chat_info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.chats .chats_sidebar .user_chats .user_chat .user_chat_info .user_chat_name {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.chats .chats_sidebar .user_chats .user_chat .user_chat_info .chat_message_preview {
  padding: 0;
  color: rgb(207, 204, 204);
}
.chats .chats_sidebar .user_chats .user_chat:hover {
  background-color: rgb(3, 3, 63);
}
.chats .chatsbar {
  flex: 2;
}
.chats .chatsbar .chat {
  background-color: rgb(217, 242, 252);
  height: 100vh;
}
.chats .chatsbar .chat .chat_info {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  color: white;
  height: 30px;
  background-color: rgb(45, 37, 59);
}
.chats .chatsbar .chat .messages {
  height: calc(100% - 114px);
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: scroll;
}
.chats .chatsbar .chat .messages .message {
  display: flex;
  align-items: center;
}
.chats .chatsbar .chat .messages .message .text {
  background-color: white;
  margin: 10px 15px;
  position: relative;
  padding: 10px 10px;
  border-radius: 5px;
  max-width: 60%;
}
.chats .chatsbar .chat .messages .message .text p {
  text-align: left;
}
.chats .chatsbar .chat .messages .message .text .time_stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(181, 178, 178);
}
.chats .chatsbar .chat .messages .message .text .message_group {
  display: flex;
  flex-direction: column;
}
.chats .chatsbar .chat .messages .message .text .message_group .file_preview img {
  width: 90px;
  height: 90px;
}
.chats .chatsbar .chat .messages .message .text .message_group .file_preview .fileIcon {
  display: flex;
  gap: 8px;
  background-color: rgba(234, 208, 159, 0.582);
  padding: 6px 9px;
}
.chats .chatsbar .chat .messages .message .text .message_group .file_preview .fileIcon .message_icon, .chats .chatsbar .chat .messages .message .text .message_group .file_preview .fileIcon .download_icon {
  font-size: 30px;
}
.chats .chatsbar .chat .messages .message .text .message_group .file_preview .fileIcon .download_icon:hover {
  cursor: pointer;
}
.chats .chatsbar .chat .messages .message .owner {
  background-color: rgb(192, 240, 192);
}
.chats .chatsbar .chat .messages .owner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: start;
}
.chats .chatsbar .chat .chat_input_parent {
  display: flex;
  flex-direction: column;
}
.chats .chatsbar .chat .chat_input_parent .selected_files {
  display: flex;
  gap: 1px;
}
.chats .chatsbar .chat .chat_input_parent .selected_files .selected_file {
  padding: 1px 4px;
  background-color: rgb(211, 122, 71);
  border-radius: 4px;
}
.chats .chatsbar .chat .chat_input_parent .chat_input {
  min-height: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
}
.chats .chatsbar .chat .chat_input_parent .chat_input .text_input {
  border: none;
  width: 100%;
  padding: 5px 5px;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
}
.chats .chatsbar .chat .chat_input_parent .chat_input .text_input:focus {
  outline: none;
}
.chats .chatsbar .chat .chat_input_parent .chat_input .send {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.chats .chatsbar .chat .chat_input_parent .chat_input .send button {
  background-color: rgb(9, 9, 175);
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 20px;
  margin-right: 12px;
}
.chats .chatsbar .chat .chat_input_parent .chat_input .send button:hover {
  cursor: pointer;
}