.Sselectoptions{
    width: 638.5px;
    height: 38.9px;
    padding-left: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 0.54px solid rgba(0, 0, 0, 0.60);
    background: var(--Background-onecolor, #fff);
}

/* Mobile */
@media (min-width: 30px) and (max-width: 480px) and (orientation: portrait) {}

/* Small devices (portrait) */
@media (min-width: 481px) and (max-width: 600px) and (orientation: portrait) {}