.footer {
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.content {
    position: absolute;
    top: 40%;
    left: 5px;
}

.footer:before,
.footer:after {
    content: "";
    vertical-align: top;
    display: inline-block;
    transform-origin: top right;
    transform: skew(-40deg);
}

.footer:before {
    height: 100%;
    width: 50%;
    border-radius: 0 0 40px 0;
    background: rgb(48, 46, 46);
}

.footer:after {
    height: 40px;
    width: 40px;
    margin-left: -1px;
    background: radial-gradient(circle at bottom right, transparent 68%, rgb(16, 4, 4) 70%);
}