// payments.scss

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    form {
      width: 300px;
      display: flex;
      flex-direction: column;
  
      .MuiTextField-root {
        margin-bottom: 15px;
      }
  
      .MuiButton-root {
        margin-top: 20px;
      }
    }
  }
  