

.dashhead{
  background: #F5F5F5;
}

.dashhead h1{
  font-family: Nunito;
  font-size: 30px;
  font-weight: 800;
  padding-left: 32px; 
  margin-bottom: 2%;
  margin-top: 3%;
}

.dashp{
  font-family: Nunito;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.dashp img{
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.dashcard{
  border-radius: 37.589px;
  background: var(--White-color, #FFF);
  box-shadow: 0px 5.01192px 5.01192px 0px rgba(0, 0, 0, 0.10);
  width: 290px;
  height: 302px;
}

.dashcard0{
  display: flex;
  width: 1051px;
  height: 300px;
  /* padding: 27px 0px 310px 0px; */
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.dashcard0 h3{
  font-family: Nunito;
  font-size: 20px;
  font-weight: 800;
}