.virtual-dashboard{
    background: #F5F5F5;
}

.virtual_dashboard_navbar{
    position: sticky;
    top: 0;
    width: 100%;
}

.virtual_dashboard_main{
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100vh;
}

.virtual_dashboard_title p{
    /* font-size: 24px; */
    font-weight: 800!;
}